/* 네이버 나눔고딕 */
@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix')
      format('embedded-opentype'),
    url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff')
      format('woff'),
    url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf')
      format('truetype');
}

.title-image {
  display: block;
  position: relative;
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-type: y mandatory;
}

.title-content {
  margin: 0 auto;
  padding: 0 1rem;
  position: fixed;
  text-align: center;
  bottom: 1.5rem;
  line-height: 2;
  letter-spacing: 0.01;
  color: #fff;
}

.title button {
  margin-top: 1rem;
}

.title {
  margin: 0 auto;
}
/* what's my look */
.title-content p {
  display: block;
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 2rem;
}

/* 온도 */
.title span {
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 1.4rem;
}

/* 설명글 */
.title p {
  font-family: 'NanumBarunGothic', sans-serif !important;
  text-shadow: 2px 1px 1px gray;
  font-size: 0.4rem;
}

.title button {
  margin-top: 1rem;
  font-family: 'NanumBarunGothic', sans-serif !important;
  font-size: 0.7rem;
  width: 11rem;
  height: 2rem;
  border-radius: 5px;
  border: none;
  letter-spacing: 3px;
  background-color: #fff;
}

/* Desktop */

@media screen and (min-width: 768px) {
  .title {
    margin-top: -1.5rem;
  }

  .title-image {
    display: block;
    position: relative;
    max-width: 100%;
    width: 100vw;
    height: 100vh;
    object-position: top;
  }

  .title-content {
    padding: 0 4rem;
    position: fixed;
    top: 13rem;
    font-size: 1.8rem;
    text-align: left;
    /* text-shadow: 4px 2px 2px gray; */
    line-height: 2;
    letter-spacing: 0.01;
    color: #fff;
  }

  /* what's my look */
  .title-content p {
    display: block;
    font-size: 4rem;
    text-shadow: 2px 1px 1px gray;
  }

  /* 온도 */
  .title span {
    font-size: 2.5rem;
    text-shadow: 2px 1px 1px gray;
  }

  .title h3 {
    font-size: 2rem;
  }

  /* 설명글 */
  .title p {
    text-shadow: 2px 1px 1px gray;
    font-size: 1rem;
  }

  .title button {
    /* margin-top: 2rem; */
    font-size: 1.1rem;
    width: 17rem;
    height: 3rem;
  }
}
