@font-face {
  font-family: 'MaruBuri-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/MaruBuri-Regular.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}


.comment {
  font-family: 'MaruBuri-Regular';
  font-size: 1.2rem;
  text-align: center;
  padding: 0 2rem;
  margin-top: 3.5rem;
  word-break: keep-all;
  line-height: 2rem;
}

@media screen and (min-width: 768px) {
  .comment {
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
    margin: 4rem 2rem 0 2rem;
  }
}
