* {
  font-family: 'Libre Baskerville', serif;
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;

  /* overflow-x: hidden; */
}

ol,
ul,
li {
  list-style-type: none;
}

::-webkit-scrollbar {
  display: none;
}

a {
  color: #000;
  text-decoration: none !important;
}
