.like-container {
  display: flex;
  align-items: center;
}
.icon {
  width: 1.4rem;
}

.like {
  margin-right: 0.4rem;
}

.like-count {
  margin-bottom: 0.15rem;
}

button {
  border: none;
  background-color: transparent;
}
