.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

.modal-content {
  position: fixed;
  top: 14.8rem;
  left: 2rem;
  border-radius: 1rem;
  z-index: 11;
  width: 20rem;
  height: 10rem;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}

.login-button {
  width: 10rem;
  position: fixed;
  top: 18.6rem;
  left: 7rem;
}

.modal-about {
  font-family: 'Gowun Dodum', sans-serif;
  display: block;
  text-align: center;
  margin-top: 0.4rem;
}

.modal-close {
  font-family: 'Gowun Dodum', sans-serif;
  position: fixed;
  border-radius: 4px;
  background-color: cadetblue;
  color: #fff;
  text-align: center;
  top: 22rem;
  left: 9rem;
}

@media screen and (min-width: 768px) {
  .modal-content {
    top: 14rem;
    left: 24rem;
    width: 42rem;
    height: 24rem;
  }

  .login-button {
    width: 20rem;
    left: 35rem;
    top: 23rem;
  }

  .modal-about {
    margin-top: 2rem;
    font-size: 1.8rem;
    letter-spacing: 0.01em;
  }

  .modal-close {
    top: 31rem;
    left: 38rem;
    width: 14rem;
    height: 2.8rem;
    font-size: 1.6rem;
  }
}
