.nav-actived {
  padding-right: 1rem;
  width: 100%;
  height: 4rem;
  position: fixed;
  top: 0;
  left: 0;
  color: #000;
  background-color: #fff;
  text-align: center;
  font-size: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
  z-index: 99;
}

.none {
  display: none;
}

.nav-title {
  padding: 0.6rem 0;
  cursor: pointer;
}

.nav-content {
  /* display: inline-block; */
  display: flex;
  align-items: center;
  position: fixed;
  top: 22px;
  right: 2.8rem;
  font-size: 12px;
  cursor: pointer;
  text-decoration: none;
}

.nav-content button {
  font-size: 0.8rem;
}

.nav-title img {
  width: 5.5rem;
}

@media screen and (min-width: 768px) {
  .nav-actived {
    height: 4.5rem;
    font-size: 1.6rem;
  }

  .nav-content {
    top: 1.4rem;
    right: 4.8rem;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
  }

  .nav-content img {
    border-radius: 50%;
    width: 2.5rem;
    /* margin: 0.5rem; */
  }

  .nav-content button {
    font-size: 1rem;
    padding: 0.5rem;
  }

  .nav-title img {
    width: 7.5rem;
  }
}
